QuestionsType/src/questions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://grenoble.agile.org/questions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Questions" type="ques:QuestionsType" xmlns:ques="http://grenoble.agile.org/questions"/>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="single"/>
            <xs:enumeration value="multiple"/>
            <xs:enumeration value="complexe"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:byte" name="number" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="answerType">
    <xs:sequence>
      <xs:element type="xs:string" name="label"/>
      <xs:element type="xs:string" name="point" minOccurs="0"/>
      <xs:element name="selected" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="answersType">
    <xs:sequence>
      <xs:element type="ques:answerType" name="answer" maxOccurs="unbounded" minOccurs="0" xmlns:ques="http://grenoble.agile.org/questions"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuestionType">
    <xs:sequence>
      <xs:element type="xs:string" name="label"/>
      <xs:element type="ques:configurationType" name="configuration" xmlns:ques="http://grenoble.agile.org/questions"/>
      <xs:element type="ques:answersType" name="answers" minOccurs="0" xmlns:ques="http://grenoble.agile.org/questions"/>
      <xs:element type="ques:QuestionType" name="Question" maxOccurs="unbounded" minOccurs="0" xmlns:ques="http://grenoble.agile.org/questions"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuestionsType">
    <xs:sequence>
      <xs:element type="ques:QuestionType" name="Question" maxOccurs="unbounded" minOccurs="0" xmlns:ques="http://grenoble.agile.org/questions"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>